
<div class="panel panel-primary" style="display:inline-block">
    <h2 class="panel-heading">Adding new device</h2>
    <div id="app_controller_addNewDev" ng-controller="addNewDev as newDev" ng-init="newDev.Init()" class="panel-body">
        <button class="btn-success" ng-click="newDev.ShowBaseFromNewDev()">Test base from newDevController</button>
        <div>
            <input type="text" ng-model="newDev.Name" placeholder="Device Name" />
        </div>
        <div>
            <select ng-model="newDev.selectedType" ng-options="type.name for type in newDev.DevTypes"> </select>
        </div>
        <div>
            <select ng-model="newDev.selectedRoom" ng-options="room for room in newDev.myFactory.Rooms" ng-change="newDev.RoomSelected(newDev.Name,newDev.selectedRoom,newDev.selectedType)"> </select>
        </div>

        <div ng-show="newDev.selectedType.id == 1 || newDev.selectedType.id == 2">
            <input class="btn-primary" type="button" ng-click="newDev.BindClicked()" value="Send Bind" />
        </div>

        <div>
            <input type="button" value="Add" ng-click="newDev.AddClicked()" />
        </div>
        <div class="center-block">
            <label class="bg-success text-center" ng-model="newDev.Status">{{newDev.Status}}</label>
        </div>
    </div>
</div>