
@{
    ViewData["Title"] = "View";
}

<h2> Angular route View</h2>
<div>
    <header style="
    font-family:Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff"
            ng-controller="MainCtrl as main" ng-init="main.GetBase()">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: main.myFactory.isActive('/')}" role="presentation" class="active"><a href="#!/"> Home</a></li>
            <li ng-class="{ active: main.myFactory.isActive('/addnew')}" role="presentation"> <a href="#!/addnew"> Add new device</a></li>
            <li ng-class="{ active: main.myFactory.isActive('/rooms')}" role="presentation"> <a href="#!/rooms"> Eddit rooms</a></li>
            <li role="presentation" ng-click="main.ShowBaseFromMainCtrl()"><a href="">Test factory</a></li>
            <li role="presentation" ng-click="main.myFactory.AddTest()"><a href="">Add item</a></li>
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false">
                    Dropdown <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li role="presentation" class="active"><a href="">Home</a></li>
                    <li role="presentation"><a href="">Profile</a></li>
                    <li role="presentation"><a href="">Messages</a></li>
                </ul>

            </li>
        </ul>
    </header>
    <section>
        <ng-view></ng-view>
    </section>
    <footer></footer>
</div>

@section Scripts {
    <script src="~/js/angular_app.js"></script>
}
