
@{
    ViewData["Title"] = "AddNewDevice";
}

<div class="panel panel-primary" style="display:inline-block">
    <h2 class="panel-heading">Adding new device</h2>

    <div ng-controller="addNewDev" ng-model="Rooms" ng-init="GetRooms()" class="panel-body">
        <div>
            <input type="text" ng-model="Name" placeholder="Device Name" />
        </div>

        <div>
            <select ng-model="selectedRoom" ng-options="room for room in Rooms"> </select>
        </div>

        <div>
            <input type="text" ng-model="selectedRoom" />
        </div>

        <div>
            <select ng-model="selectedType" ng-options="type.name for type in NooDevTypes" ng-change="DevModeSelected(selectedType)"> </select>
        </div>

        <div>
            <input type="text" ng-model="selectedType.id" />
        </div>

        <div>
            <input type="button" value="Add" ng-click="AddNewDev(Name,selectedType,selectedRoom)" />
        </div>
    </div>
</div>
